<div class="contents-box">
  <div class="contents__post">
    <div class="content__post">
      <p><%= image_tag 'mypage.png' %></p>
      <a href="/users/<%= @locate.user_id %>">
        <p>@<%= @locate.user.nickname %></p>
      </a>
    </div>
    <div class="content__pic" style="background-image: url(<%= @locate.image %>);">
      <div class="content__p-text">
        <p>名前：<%= simple_format(@locate.petname) %></p><br>
        <p>エリア：<%= simple_format(@locate.area) %></p><br>
        <p>種類：<%= simple_format(@locate.kind) %></p><br>
        <p>性別：<%= simple_format(@locate.gender) %></p><br>
        <p>年齢：<%= simple_format(@locate.age) %>歳</p><br>
        <p>首輪：<%= simple_format(@locate.collar) %></p><br>
      </div>
    </div>
    <div class="content__text">
      <span>@<%= @locate.user.nickname %></span>
      <p><%= @locate.text %></p>
    </div>
  </div>
  
  <div class="container"> 
    <% if current_user %>
      <%= form_tag("/locates/#{@locate.id}/locatecomments", method: :post) do %>
        <textarea name="text" placeholder="コメントする" style="border:2px green dotted;" rows="2" cols="30"></textarea></br>
        <input type="submit" value="コメントを投稿する">
      <% end %>
    <% end %>
    <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @locatecomments %>
        <% @locatecomments.each do |locatecomment| %>
          <p>
            <strong>@<%= link_to locatecomment.user.nickname, "/users/#{locatecomment.user_id}" %>：</strong>
            <%= locatecomment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>